body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 255, 240);
    margin: 0;
    padding: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

header a {
    padding-top: 20px;
    text-decoration: none;
    color: black;
}
.main {
    display: flex;
}

.left_menu {
    display: flex;
    width: 225px;
    height: 100%;

}

.left_menu ul {
    color: rgb(255, 255, 240);
}

.main_info {
    color: rgb(255, 255, 240);
}

.main_info h1 {
    text-align: center;
}